*{
    padding:  0;
    margin: 0;
}
main{
    font-family: var(--font-title);
}
.hero div{
    margin: auto;
    text-align: center;
}
.hero div h2{
    color: var(--yellow-1);
}

.italic_title{
    font-size: 2.3em;
    text-align: center;
}
article ul{
    display: flex;
    justify-content:center;
    list-style-type: none;
    gap: 50px;
    top: 4em;
}
article ul li div span img{
    width: 3em;
}
article ul li div{
    display: flex;
    align-items: center;
}
article ul li div div{
    display: block;
}
article ul li div div span{
    color: gray;
}
article ul li div div p{
    font-weight: bold;
    font-size: 1.3em;
}
hr{
    top: 4em;
    width: 48em;
    margin-inline: auto;
    margin-bottom: 2rem;
}
#lista_cardapio {
    display: flex;
    justify-content: center;
    gap: 40px;
}
#lista_cardapio > div {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
#lista_cardapio > div > div{
    height: 6em;
    width: 30em;
}
.quantity{
    display: flex;
    justify-content: center;
    gap: 10px;
  
}
.quantity button{
    background-color: transparent;
    border: 0;

}
.quantity p{
    border-bottom: 1px solid black;
}
