main{
    height: 30em;
}

main article{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
    margin-top: 10em;
    width: 100%;
}
main article div{
    background-color:#E5E5E5;
    padding: 10px;
    padding-top: 20px;
    width: 17em;
    height: 13em;
    border-radius: 10px;
}
main article img{
width: 3em;
}
main article h3{
    display: flex;
    align-items: center;
}
main article p{
    position: relative;
    top: 1em;
}
.title{
    margin-left: 1em;
}
.hero div{
    display: block;
    margin: auto;
    text-align: center;
}
.hero div h2{
    color: var(--yellow-1);
}
